<ion-header>
  <ion-toolbar>
    <ion-title>
      Вход в приложение
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="color: red" *ngIf="error !== ''">
    {{error}}
  </p>
  <ion-item>
    <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="doLogin()">Войти</ion-button>
  <ion-button expand="full" color="primary" fill="outline" (click)="navigateToRegister()">Зарегистрироваться</ion-button>
</ion-content>
