<ion-header>
  <ion-toolbar>
    <ion-title>
      Регистрация
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="color: red" *ngIf="error !== ''">
    {{error}}
  </p>
  <ion-item>
    <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Password" type="password" [(ngModel)]="password_confirmation"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="doRegistartion()">Зарегистрироваться</ion-button>
</ion-content>
