<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Three
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>
        Что вы хотите сказать:
    </ion-title>
    <ion-item>
        <ion-textarea rows="5"
                      [formControl]="form.controls.tweet_text"
                      (ngModelChange)="changeCounter($event)"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!form.valid">
        <p class="error" *ngIf="form.controls.tweet_text.hasError('minlength')">Нельзя твитнуть пустоту.</p>
        <p class="error" *ngIf="form.controls.tweet_text.hasError('maxlength')">Ваш твит слишком длинный.</p>
        <p class="error" *ngIf="form.controls.tweet_text.hasError('required')">Вы должны что то написать.</p>
        <p class="error" *ngIf="createError">{{createError}}</p>
    </ion-item>
    <ion-item class="counter">
        {{counter}} / 255
    </ion-item>
    <ion-button color="primary" expand="full" size="large" (click)="tweet()" [disabled]="!form.valid">Твитнуть</ion-button>
</ion-content>
