<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger" expand="full" (click)="doLogout()">
    Выход
  </ion-button>
</ion-content>
